In [1]:
import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv("data/house_prices.csv")

In [3]:
df.shape

(187531, 21)

In [4]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [5]:
def extract_bhk(title):
    """T√°ch s·ªë BHK t·ª´ Title, lo·∫°i b·ªè kh·ªèi chu·ªói ti√™u ƒë·ªÅ"""
    bhk_match = re.search(r'(\d+)\s*BHK', title)
    if bhk_match:
        bhk = bhk_match.group(1)
        new_title = re.sub(r'\d+\s*BHK', '', title).strip()
        return bhk, new_title
    else:
        # N·∫øu kh√¥ng c√≥ BHK => gi·∫£ ƒë·ªãnh 1 (Studio Apartment)
        return '1', title

def process_balcony(value):
    """Chu·∫©n h√≥a Balcony ho·∫∑c Bathroom, chuy·ªÉn v·ªÅ int"""
    if pd.isna(value):
        return 0
    value = str(value).strip()
    if value in ['> 10', '>10']:
        return 11
    try:
        return int(value)
    except ValueError:
        return 0

def extract_parking_count(value):
    """T√°ch s·ªë l∆∞·ª£ng ch·ªó ƒë·ªó xe t·ª´ Car Parking"""
    if pd.isna(value):
        return 0
    value = str(value).replace(',', '').strip()
    parts = value.split()
    try:
        count = int(parts[0])
    except (ValueError, IndexError):
        count = 0
    return min(count, 40)

def convert_to_rupees(value):
    """Chuy·ªÉn ƒë·ªïi t·ª´ 'Lac' ho·∫∑c 'Cr' sang s·ªë rupee"""
    if pd.isna(value):
        return None
    value = str(value).replace(",", "").strip()
    if "Lac" in value:
        return float(value.replace("Lac", "").strip()) * 1_00_000
    elif "Cr" in value:
        return float(value.replace("Cr", "").strip()) * 1_00_00_000
    else:
        try:
            return float(value)
        except:
            return None

def extract_area(area_str):
    """Chuy·ªÉn di·ªán t√≠ch v·ªÅ sqft"""
    if pd.isnull(area_str):
        return None
    area_str = str(area_str).lower().strip()
    match = re.match(r'([\d,\.]+)\s*(sqft|sqyd|sqyrd|sqm)', area_str)
    if not match:
        return None
    value_str, unit = match.groups()
    try:
        value = float(value_str.replace(',', ''))
    except ValueError:
        return None
    if unit == 'sqft':
        sqft = value
    elif unit in ['sqyd', 'sqyrd']:
        sqft = value * 9
    elif unit == 'sqm':
        sqft = value * 10.7639
    else:
        return None
    return int(round(sqft))

In [6]:
# T√°ch BHK t·ª´ Title
df[['BHK', 'Title']] = df['Title'].apply(lambda x: pd.Series(extract_bhk(x)))
df['BHK'] = pd.to_numeric(df['BHK'], errors='coerce')

In [8]:
# X·ª≠ l√Ω Balcony & Bathroom
df['Balcony'] = df['Balcony'].apply(process_balcony)
df['Bathroom'] = df['Bathroom'].apply(process_balcony)

In [9]:
# X·ª≠ l√Ω Car Parking
df['Car Parking'] = df['Car Parking'].apply(extract_parking_count)

In [10]:
# ƒêi·ªÅn gi√° tr·ªã thi·∫øu cho c√°c c·ªôt d·∫°ng category/text
df["facing"] = df["facing"].fillna("Unknown")
df["overlooking"] = df["overlooking"].fillna("Unknown")
df["Ownership"] = df["Ownership"].fillna("Unknown")
df["Furnishing"] = df["Furnishing"].fillna("Unknown")
df["Description"] = df["Description"].fillna("Don't have description")
df["Status"].fillna(df["Status"].mode()[0], inplace=True)
df["Floor"].fillna(df["Floor"].mode()[0], inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13012\3038699689.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Status"].fillna(df["Status"].mode()[0], inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13012\3038699689.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Floor"].fillna(df["Floor"].mode()[0], inplace=True)

In [11]:
# ƒêi·ªÅn NaN cho numeric
df["Balcony"] = df["Balcony"].fillna(0)
df["Bathroom"] = df["Bathroom"].fillna(1)
df["Car Parking"] = df["Car Parking"].fillna(0)

In [12]:
# Lo·∫°i b·ªè c·ªôt kh√¥ng d√πng ho·∫∑c tr√πng l·∫∑p
drop_cols = ["Plot Area", "Dimensions", "Society", "overlooking"]
df.drop(columns=[col for col in drop_cols if col in df.columns], inplace=True)

In [13]:
# X·ª≠ l√Ω c·ªôt Floor -> t√°ch th√†nh Current Floor & Total Floors
df[["Current Floor", "Total Floors"]] = df["Floor"].str.extract(r"(\d+) out of (\d+)")
df["Current Floor"] = pd.to_numeric(df["Current Floor"], errors="coerce").fillna(0).astype(int)
df["Total Floors"] = pd.to_numeric(df["Total Floors"], errors="coerce").fillna(0).astype(int)
df.drop(columns=["Floor"], inplace=True)

In [14]:
# Chuy·ªÉn ƒë·ªïi Amount(in rupees)
df["Amount(in rupees)"] = df["Amount(in rupees)"].apply(convert_to_rupees)

In [15]:
# Chuy·ªÉn ƒë·ªïi di·ªán t√≠ch
if "Carpet Area" in df.columns:
    df["Carpet Area"] = df["Carpet Area"].apply(extract_area)
if "Super Area" in df.columns:
    df["Super Area"] = df["Super Area"].apply(extract_area)

In [16]:
# B·ªè b·∫£n ghi thi·∫øu gi√°
df.dropna(subset=["Price (in rupees)"], inplace=True)
df.dropna(subset=["Transaction"], inplace=True)

In [17]:
df['Amount'] = df['Amount(in rupees)']
df['Price'] = df['Price (in rupees)']
df['Location'] = df['location']
df['Facing'] = df['facing']

df.drop(columns=['Amount(in rupees)', 'Price (in rupees)', 'location', 'facing'], inplace=True)

In [18]:
df.head()

,Index,Title,Description,Carpet Area,Status,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Super Area,BHK,Current Floor,Total Floors,Amount,Price,Location,Facing
0,0,Ready to Occupy Flat for sale in Srushti Siddh...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",500.0,Ready to Move,Resale,Unfurnished,1,2,0,Unknown,NaN,1,10,11,4200000.0,6000.0,thane,Unknown
1,1,Ready to Occupy Flat for sale in Dosti Vihar P...,One can find this stunning 2 BHK flat for sale...,473.0,Ready to Move,Resale,Semi-Furnished,2,0,1,Freehold,NaN,2,3,22,9800000.0,13799.0,thane,East
2,2,Ready to Occupy Flat for sale in Sunrise by Ka...,Up for immediate sale is a 2 BHK apartment in ...,779.0,Ready to Move,Resale,Unfurnished,2,0,1,Freehold,NaN,2,10,29,14000000.0,17500.0,thane,East
4,4,Ready to Occupy Flat for sale in TenX Habitat ...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",635.0,Ready to Move,Resale,Unfurnished,2,0,1,Co-operative Society,NaN,2,20,42,16000000.0,18824.0,thane,West
5,5,Ready to Occupy Flat for sale in Virat Aangan ...,Creatively planned and constructed is a 1 BHK ...,NaN,Ready to Move,Resale,Unfurnished,1,1,0,Co-operative Society,680.0,1,2,7,4500000.0,6618.0,thane,East

In [ ]:
df.to_csv("data/HousePrice_processed.csv", index=False)
print("‚úÖ D·ªØ li·ªáu ƒë√£ ti·ªÅn x·ª≠ l√Ω xong v√† l∆∞u v√†o data/HousePrice_processed.csv")

‚úÖ D·ªØ li·ªáu ƒë√£ ti·ªÅn x·ª≠ l√Ω xong v√† l∆∞u v√†o HousePrice_processed.csv

In [20]:
import pandas as pd

# ƒê·ªçc d·ªØ li·ªáu ƒë√£ x·ª≠ l√Ω
df = pd.read_csv("HousePrice_processed.csv")

# 1. Xem k√≠ch th∆∞·ªõc & th√¥ng tin t·ªïng qu√°t
print("üìå K√≠ch th∆∞·ªõc dataset:", df.shape)
print("\nüìå Th√¥ng tin dataset:")
print(df.info())

# 2. Xem 5 d√≤ng ƒë·∫ßu ti√™n
print("\nüìå 5 d√≤ng ƒë·∫ßu ti√™n:")
print(df.head())

# 3. Ki·ªÉm tra gi√° tr·ªã thi·∫øu theo c·ªôt
print("\nüìå S·ªë l∆∞·ª£ng gi√° tr·ªã thi·∫øu m·ªói c·ªôt:")
print(df.isnull().sum())

# 4. Th·ªëng k√™ m√¥ t·∫£ cho c·ªôt s·ªë
print("\nüìå Th·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt s·ªë:")
print(df.describe())

# 5. Th·ªëng k√™ m√¥ t·∫£ cho c·ªôt d·∫°ng category/text
print("\nüìå Th·ªëng k√™ gi√° tr·ªã duy nh·∫•t (c·ªôt d·∫°ng category):")
for col in df.select_dtypes(include='object').columns:
    print(f"{col}: {df[col].nunique()} gi√° tr·ªã duy nh·∫•t")

# 6. T√¨m b·∫£n ghi tr√πng l·∫∑p
duplicates = df[df.duplicated()]
print(f"\nüìå S·ªë b·∫£n ghi tr√πng l·∫∑p: {len(duplicates)}")

# 7. Ki·ªÉm tra c√°c c·ªôt quan tr·ªçng c√≥ gi√° tr·ªã b·∫•t th∆∞·ªùng
print("\nüìå Gi√° tr·ªã BHK b·∫•t th∆∞·ªùng (<=0 ho·∫∑c qu√° l·ªõn):")
print(df[(df['BHK'] <= 0) | (df['BHK'] > 20)])

print("\nüìå Gi√° tr·ªã di·ªán t√≠ch b·∫•t th∆∞·ªùng (Carpet Area <= 0 ho·∫∑c qu√° l·ªõn):")
if 'Carpet Area' in df.columns:
    print(df[(df['Carpet Area'] <= 0) | (df['Carpet Area'] > 20000)])

print("\nüìå Gi√° tr·ªã Price b·∫•t th∆∞·ªùng (<=0 ho·∫∑c qu√° l·ªõn):")
print(df[(df['Price'] <= 0) | (df['Price'] > 1e9)])

üìå K√≠ch th∆∞·ªõc dataset: (169860, 19)

üìå Th√¥ng tin dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169860 entries, 0 to 169859
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Index          169860 non-null  int64
 1   Title          169860 non-null  object
 2   Description    169860 non-null  object
 3   Carpet Area    93620 non-null   float64
 4   Status         169860 non-null  object
 5   Transaction    169860 non-null  object
 6   Furnishing     169860 non-null  object
 7   Bathroom       169860 non-null  int64
 8   Balcony        169860 non-null  int64
 9   Car Parking    169860 non-null  int64
 10  Ownership      169860 non-null  object
 11  Super Area     76215 non-null   float64
 12  BHK            169860 non-null  int64
 13  Current Floor  169860 non-null  int64
 14  Total Floors   169860 non-null  int64
 15  Amount         169860 non-null  float64
 16  Price          169860 non-null  float64
 17  Location       169860 non-null  object
 18  Facing         169860 non-null  object
dtypes: float64(4), int64(7), object(8)
memory usage: 24.6+ MB
None

üìå 5 d√≤ng ƒë·∫ßu ti√™n:
   Index                                              Title  \
0      0  Ready to Occupy Flat for sale in Srushti Siddh...
1      1  Ready to Occupy Flat for sale in Dosti Vihar P...
2      2  Ready to Occupy Flat for sale in Sunrise by Ka...
3      4  Ready to Occupy Flat for sale in TenX Habitat ...
4      5  Ready to Occupy Flat for sale in Virat Aangan ...

                                         Description  Carpet Area  \
0  Bhiwandi, Thane has an attractive 1 BHK Flat f...        500.0
1  One can find this stunning 2 BHK flat for sale...        473.0
2  Up for immediate sale is a 2 BHK apartment in ...        779.0
3  This lovely 2 BHK Flat in Pokhran Road, Thane ...        635.0
4  Creatively planned and constructed is a 1 BHK ...          NaN

          Status Transaction      Furnishing  Bathroom  Balcony  Car Parking  \
0  Ready to Move      Resale     Unfurnished         1        2            0
1  Ready to Move      Resale  Semi-Furnished         2        0            1
2  Ready to Move      Resale     Unfurnished         2        0            1
3  Ready to Move      Resale     Unfurnished         2        0            1
4  Ready to Move      Resale     Unfurnished         1        1            0

              Ownership  Super Area  BHK  Current Floor  Total Floors  \
0               Unknown         NaN    1             10            11
1              Freehold         NaN    2              3            22
2              Freehold         NaN    2             10            29
3  Co-operative Society         NaN    2             20            42
4  Co-operative Society       680.0    1              2             7

       Amount    Price Location   Facing
0   4200000.0   6000.0    thane  Unknown
1   9800000.0  13799.0    thane     East
2  14000000.0  17500.0    thane     East
3  16000000.0  18824.0    thane     West
4   4500000.0   6618.0    thane     East

üìå S·ªë l∆∞·ª£ng gi√° tr·ªã thi·∫øu m·ªói c·ªôt:
Index                0
Title                0
Description          0
Carpet Area      76240
Status               0
Transaction          0
Furnishing           0
Bathroom             0
Balcony              0
Car Parking          0
Ownership            0
Super Area       93645
BHK                  0
Current Floor        0
Total Floors         0
Amount               0
Price                0
Location             0
Facing               0
dtype: int64

üìå Th·ªëng k√™ m√¥ t·∫£ c√°c c·ªôt s·ªë:
               Index    Carpet Area       Bathroom        Balcony  \
count  169860.000000   93620.000000  169860.000000  169860.000000
mean    93168.653209    1279.057295       2.435682       1.494089
std     54734.720422    3242.474503       0.864284       1.218761
min         0.000000       1.000000       0.000000       0.000000
25%     44714.750000     850.000000       2.000000       0.000000
50%     93239.500000    1100.000000       2.000000       1.000000
75%    141114.250000    1525.000000       3.000000       2.000000
max    187530.000000  709222.000000      11.000000      11.000000

         Car Parking    Super Area            BHK  Current Floor  \
count  169860.000000  76215.000000  169860.000000  169860.000000
mean        0.867126   1381.738569       2.592694       4.460885
std         3.165916    729.500216       0.778902       4.663547
min         0.000000      1.000000       1.000000       0.000000
25%         0.000000   1007.000000       2.000000       2.000000
50%         0.000000   1290.000000       3.000000       3.000000
75%         1.000000   1680.000000       3.000000       6.000000
max        40.000000  40000.000000      10.000000     200.000000

        Total Floors        Amount         Price
count  169860.000000  1.698600e+05  1.698600e+05
mean        8.411233  1.198675e+07  7.583871e+03
std         7.733559  4.025161e+07  2.724218e+04
min         0.000000  1.000000e+05  0.000000e+00
25%         4.000000  5.000000e+06  4.297000e+03
50%         5.000000  7.800000e+06  6.034000e+03
75%        11.000000  1.450000e+07  9.451000e+03
max       200.000000  1.400300e+10  6.700000e+06

üìå Th·ªëng k√™ gi√° tr·ªã duy nh·∫•t (c·ªôt d·∫°ng category):
Title: 22993 gi√° tr·ªã duy nh·∫•t
Description: 59895 gi√° tr·ªã duy nh·∫•t
Status: 1 gi√° tr·ªã duy nh·∫•t
Transaction: 4 gi√° tr·ªã duy nh·∫•t
Furnishing: 4 gi√° tr·ªã duy nh·∫•t
Ownership: 5 gi√° tr·ªã duy nh·∫•t
Location: 81 gi√° tr·ªã duy nh·∫•t
Facing: 9 gi√° tr·ªã duy nh·∫•t

üìå S·ªë b·∫£n ghi tr√πng l·∫∑p: 0

üìå Gi√° tr·ªã BHK b·∫•t th∆∞·ªùng (<=0 ho·∫∑c qu√° l·ªõn):
Empty DataFrame
Columns: [Index, Title, Description, Carpet Area, Status, Transaction, Furnishing, Bathroom, Balcony, Car Parking, Ownership, Super Area, BHK, Current Floor, Total Floors, Amount, Price, Location, Facing]
Index: []

üìå Gi√° tr·ªã di·ªán t√≠ch b·∫•t th∆∞·ªùng (Carpet Area <= 0 ho·∫∑c qu√° l·ªõn):
         Index                                              Title  \
753        829  Ready to Occupy Flat for sale in Amrut Siddhi ...
39678    41560        Ready to Occupy Flat for sale Thiruvanmiyur
47654    50623  Ready to Occupy Flat for sale Sushant Lok 3, S...
47915    50895  Ready to Occupy Flat for sale in TARC Maceo Ga...
49353    52396  Ready to Occupy Flat for sale in Emaar Emerald...
49497    52545  Ready to Occupy Flat for sale in DLF City Plot...
67582    72727           Ready to Occupy Flat for sale Gachibowli
75769    82876  Ready to Occupy Flat for sale in Seven Heaven ...
133205  147391  Ready to Occupy Flat for sale in Amrut Siddhi ...
133379  147580       Ready to Occupy Flat for sale Fatehabad Road
133576  147791  Ready to Occupy Flat for sale in Aparna Prem L...
134099  148361  Ready to Occupy Flat for sale Jyotinagar Auran...
134896  149239             Ready to Occupy Flat for sale Tapukara
138951  153711  Ready to Occupy Flat for sale yamnotri enclave...
139465  154256             >  Ready to Occupy Flat for sale Aluva
150172  165733           Ready to Occupy Flat for sale Kahilipara
159683  176420  Ready to Occupy Flat for sale in Gitanjali Ran...
159690  176427          Ready to Occupy Flat for sale Sevoke Road
159733  176471          Ready to Occupy Flat for sale Sevoke Road
159945  176689          Ready to Occupy Flat for sale Sevoke Road
159946  176690          Ready to Occupy Flat for sale Sevoke Road
159967  176711          Ready to Occupy Flat for sale Sevoke Road
159998  176746          Ready to Occupy Flat for sale Sevoke Road
160027  176777        Ready to Occupy Flat for sale Pradhan Nagar

                                              Description  Carpet Area  \
753     This attractive 2 BHK apartment can be found f...      68491.0
39678   One can find this stunning 3 BHK flat for sale...      43500.0
47654   This ready to move-in 4 BHK flat is available ...      22050.0
47915   This lovely 3 BHK Flat in Garden City, Gurgaon...     194936.0
49353   This exquisite 4 BHK Flat is offered for sale ...      23400.0
49497   Have a look at this immaculate 4 BHK flat for ...      22500.0
67582   This gorgeous 6 BHK Flat is available for sale...      30000.0
75769   One can find this stunning 3 BHK flat for sale...     107806.0
133205  This attractive 2 BHK apartment can be found f...      68491.0
133379  Creatively planned and constructed is a 3 BHK ...     282004.0
133576  This beautiful 3 BHK Flat is available for sal...     113134.0
134099  Have a look at this immaculate 2 BHK flat for ...      62425.0
134896  Up for immediate sale is a 2 BHK apartment in ...     495970.0
138951  This exquisite 2 BHK Flat is offered for sale ...      72009.0
139465  Discover this immaculate > 10 BHK flat for sal...      29000.0
150172  Have a look at this immaculate 2 BHK flat for ...     709222.0
159683  Creatively planned and constructed is a 2 BHK ...      69825.0
159690  Have a look at this immaculate 4 BHK flat for ...      23512.0
159733  Up for immediate sale is a 4 BHK apartment in ...      21705.0
159945  This lovely 3 BHK Flat in Sevoke Road, Siligur...      81675.0
159946  Up for immediate sale is a 2 BHK apartment in ...      71775.0
159967  This beautiful 2 BHK Flat is available for sal...      71025.0
159998  This ready to move-in 4 BHK flat is available ...      21945.0
160027  One can find this stunning 2 BHK flat for sale...      69375.0

               Status   Transaction      Furnishing  Bathroom  Balcony  \
753     Ready to Move        Resale     Unfurnished         2        3
39678   Ready to Move        Resale  Semi-Furnished         3        3
47654   Ready to Move  New Property  Semi-Furnished         4        2
47915   Ready to Move  New Property     Unfurnished         4        4
49353   Ready to Move  New Property  Semi-Furnished         4        2
49497   Ready to Move        Resale  Semi-Furnished         4        2
67582   Ready to Move        Resale     Unfurnished         1        0
75769   Ready to Move        Resale     Unfurnished         3        2
133205  Ready to Move        Resale     Unfurnished         2        3
133379  Ready to Move        Resale     Unfurnished         2       10
133576  Ready to Move        Resale  Semi-Furnished         3        2
134099  Ready to Move        Resale     Unfurnished         2        1
134896  Ready to Move        Resale         Unknown         2        0
138951  Ready to Move        Resale  Semi-Furnished         2        2
139465  Ready to Move        Resale       Furnished        11       11
150172  Ready to Move        Resale  Semi-Furnished         2        2
159683  Ready to Move  New Property     Unfurnished         1        1
159690  Ready to Move  New Property     Unfurnished         4        2
159733  Ready to Move  New Property     Unfurnished         4        1
159945  Ready to Move  New Property     Unfurnished         2        1
159946  Ready to Move  New Property     Unfurnished         2        1
159967  Ready to Move  New Property     Unfurnished         1        1
159998  Ready to Move  New Property     Unfurnished         4        1
160027  Ready to Move        Resale     Unfurnished         1        1

        Car Parking             Ownership  Super Area  BHK  Current Floor  \
753               0  Co-operative Society         NaN    2              2
39678             1              Freehold         NaN    3              3
47654             2              Freehold         NaN    4              3
47915             2              Freehold         NaN    3             20
49353             2              Freehold         NaN    4              1
49497             2              Freehold         NaN    4              2
67582             0               Unknown         NaN    6             14
75769             0               Unknown         NaN    3             11
133205            0  Co-operative Society         NaN    2              2
133379            0               Unknown         NaN    3              3
133576            1              Freehold         NaN    3              2
134099            0               Unknown         NaN    2              3
134896            0              Freehold         NaN    2             10
138951            0               Unknown         NaN    2              1
139465            6              Freehold         NaN   10              1
150172            0              Freehold         NaN    2              3
159683            1              Freehold         NaN    2              1
159690            1              Freehold         NaN    4              3
159733            1              Freehold         NaN    4              3
159945            1              Freehold         NaN    3              1
159946            1              Freehold         NaN    2              5
159967            1              Freehold         NaN    2              2
159998            1              Freehold         NaN    4              2
160027            1              Freehold         NaN    2              3

        Total Floors       Amount    Price    Location        Facing
753                7    4000000.0   4132.0       thane          East
39678              3   19000000.0  10383.0     chennai          East
47654              4   36000000.0  12761.0     gurgaon          East
47915             20   26000000.0   6131.0     gurgaon  North - East
49353              4   40000000.0  11111.0     gurgaon          East
49497              4   36000000.0  13333.0     gurgaon          East
67582             21  200000000.0   6667.0   hyderabad       Unknown
75769             14    6800000.0   4231.0      jaipur       Unknown
133205             7    4000000.0   4132.0       thane          East
133379             6    2000000.0      7.0        agra       Unknown
133576            11    5600000.0   3500.0        agra       Unknown
134099             4    7000000.0   5757.0  aurangabad       Unknown
134896            14    1900000.0   2533.0     bhiwadi       Unknown
138951             4    3600000.0   3175.0    dehradun       Unknown
139465             3  100000000.0   3333.0   ernakulam          East
150172             8    6000000.0   5859.0    guwahati          East
159683             7    3060000.0   3290.0    siliguri         North
159690             5   15900000.0   5100.0    siliguri          West
159733             5   14700000.0   5100.0    siliguri         South
159945             5    4570000.0   4200.0    siliguri          West
159946             5    4020000.0   4200.0    siliguri          East
159967             5    3980000.0   4200.0    siliguri          East
159998             5   14900000.0   5100.0    siliguri          East
160027             3    4000000.0   4324.0    siliguri         South

üìå Gi√° tr·ªã Price b·∫•t th∆∞·ªùng (<=0 ho·∫∑c qu√° l·ªõn):
         Index                                              Title  \
139455  154245                Ready to Occupy Flat for sale Aluva
149771  165311           Ready to Occupy Flat for sale Dhirenpara
150273  165838  Ready to Occupy Flat for sale in Ashoka Apartm...
150458  166029    Ready to Occupy Flat for sale Harishankar Puram
151794  167515  Ready to Occupy Flat for sale Ram Reaidency Ka...
158274  174916  Ready to Occupy Flat for sale in Wallfort Heig...
158393  175044  Ready to Occupy Flat for sale Shanti Enclave, ...
159666  176399          Ready to Occupy Flat for sale Panthaghati
160055  176805         Ready to Occupy Flat for sale Jule Solapur
166031  183352  Ready to Occupy Flat for sale surya apartment ...
167586  185086  Ready to Occupy Flat for sale Indhiranagar 530...

                                              Description  Carpet Area  \
139455  Creatively planned and constructed is a 2 BHK ...          NaN
149771  This ready to move-in 2 BHK flat is available ...       1100.0
150273  This beautiful 3 BHK Flat is available for sal...       1460.0
150458  One can find this stunning 2 BHK flat for sale...        800.0
151794  1 BHK flat available for sale in Kalyan in the...        525.0
158274  Bhatgaon, Raipur has an appealing 3 BHK flat f...       1750.0
158393  Up for immediate sale is a 2 BHK apartment in ...          NaN
159666  Panthaghati, Shimla has an appealing 3 BHK fla...       1480.0
160055  2 BHK flat available for sale in Solapur in th...          NaN
166031  This ready to move-in 3 BHK flat is available ...       1160.0
167586  Discover this immaculate 3 BHK flat for sale a...          NaN

               Status   Transaction      Furnishing  Bathroom  Balcony  \
139455  Ready to Move        Resale       Furnished         2        1
149771  Ready to Move        Resale     Unfurnished         2        2
150273  Ready to Move        Resale  Semi-Furnished         2        2
150458  Ready to Move        Resale     Unfurnished         2        1
151794  Ready to Move        Resale     Unfurnished         1        1
158274  Ready to Move        Resale     Unfurnished         3        2
158393  Ready to Move        Resale     Unfurnished         2        1
159666  Ready to Move  New Property       Furnished         3        2
160055  Ready to Move        Resale     Unfurnished         2        1
166031  Ready to Move        Resale     Unfurnished         2        3
167586  Ready to Move        Resale         Unknown         0        0

        Car Parking             Ownership  Super Area  BHK  Current Floor  \
139455            0              Freehold         NaN    2             22
149771            0               Unknown         NaN    2              2
150273            0              Freehold         NaN    3              1
150458            0              Freehold         NaN    2              1
151794            0               Unknown         NaN    1              1
158274            0              Freehold         NaN    3              8
158393            0  Co-operative Society         NaN    2              1
159666           10              Freehold         NaN    3              3
160055            0               Unknown         NaN    2              3
166031            0              Freehold         NaN    3              2
167586            0               Unknown         NaN    3              2

        Total Floors      Amount  Price       Location   Facing
139455            22   2900000.0    0.0      ernakulam  Unknown
149771             2   4800000.0    0.0       guwahati  Unknown
150273             4   7900000.0    0.0       guwahati     East
150458             2   4500000.0    0.0        gwalior  Unknown
151794             3   1600000.0    0.0         kalyan  Unknown
158274            10   7800000.0    0.0         raipur     East
158393             5   2700000.0    0.0         raipur  Unknown
159666             4  15100000.0    0.0         shimla    South
160055             5   3700000.0    0.0        solapur     East
166031             5   8000000.0    0.0       varanasi     East
167586             4  10500000.0    0.0  visakhapatnam  Unknown